<h1>Places#index</h1>
<p>Find me in app/views/places/index.html.erb</p>
<%= @place %>
<div id="map"></div>
  <div id="myPlace">
    </div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<!-- <input id="pac-input" class="controls" type="text" placeholder="Where are you?"> -->
