<!DOCTYPE html>
<html>
<head>
  <title>Blast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 </head>
 <body onload="getLocation()">
 <%= yield %>
   <div id="map"></div>
     <div id="myPlace">
       </div>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
   <!-- <input id="pac-input" class="controls" type="text" placeholder="Where are you?"> -->
 </body>
</html>
