<!DOCTYPE html>
<html>
<head>
  <title>Blast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body onload="getLocation()">

  <script src="http://maps.googleapis.com/maps/api/js?v=3&libraries=places&sensor=false"></script>
  <input class="form-control" id="place" name="place" placeholder="apartment name" type="text" value="" />
  <output></output>

<%= yield %>
</body>
</html>
